<div class="jumbotron">
    <p>Search for a movie</p>
    <div class="form-group">
        <div class="input-group">
            <input type="text"
                   class="form-control"
                   #myInput
                   placeholder="Search for movies..."
                   (keyup.enter)="onKeyupOrClick($event.target.value)">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="onKeyupOrClick(myInput.value)">Go!</button>
            </span>
        </div>
    </div>
</div>
