:host {
    max-width: 300px;
    position: relative;
    display: inline-block;
}
:host([small]) {
    max-width: 200px;
}
:host([smaller]) {
    max-width: 100px;
}

:host-context(.yellowgreen) {
    background: yellowgreen;
}
:host-context(.blue) {
    background: blue;
}

img {
    width: 100%;
}

.card .card-title {
    font-size: 15px;
    font-weight: 300;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}