:host {
    max-width: 300px;
    position: relative;
    display: inline-block;
}

:host-context(div.father) {
    padding: 2px;
    background: yellowgreen;
}

img {
    width: 100%;
}

.card .card-title {
    font-size: 15px;
    font-weight: 300;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}