<form class="form-horizontal" [formGroup]="form">
    <fieldset>
        <legend>Sign up here ...</legend>
        <div class="form-group" [class.has-error]="form.get('email').touched && form.get('email').invalid">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-8">
                <input type="text"
                       required
                       [formControl]="form.get('email')"
                       class="form-control"
                       placeholder="Email">
            </div>
        </div>
    </fieldset>
</form>