<form class="form-horizontal" [formGroup]="form" (ngSubmit)="submit(form.value)">
    <fieldset>
        <legend>Sign up here ...</legend>
        <div class="form-group" [class.has-error]="emailControl.touched && emailControl.invalid">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-8">
                <input type="text"
                       required
                       [formControl]="emailControl"
                       class="form-control"
                       placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Password</label>
            <div class="col-lg-8">
                <input type="password" [formControl]="form.get('password')" class="form-control"
                       placeholder="Password">
            </div>
        </div>

        <div class="form-group" *ngFor="let contactNumber of form.get('contactNumbers').controls ; let i = index ">
            <label class="col-lg-2 control-label">Contact number {{ i+1}}</label>
            <div class="col-lg-8">
                <input type="text" [formControl]="contactNumber" class="form-control"
                       placeholder="Enter your number ">
            </div>
            <div class="col-lg-2">
                <button class="btn-primary" *ngIf="i" (click)="remove(index)">Remove</button>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-10">
                <button class=" pull-right btn-primary" (click)="add()">Add</button>
            </div>
        </div>


        <div class="form-group ">
            <label class="col-lg-2 control-label">Condition</label>
            <div class="col-lg-8">
                <label>
                    <input [formControl]="form.get('agree')" type="checkbox"> I agree to your terms and conditions.
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" (click)="reset()" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>