<app-search-bar (search)="search($event)"></app-search-bar>

<div class="row">
    <div class="col-lg-12">
        <h3 class="h3 text-success">Popular movies</h3>
        <app-movie-card *ngFor="let movie of popularList" [movie]="movie" class="col-sm-3"></app-movie-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="h3 text-success">Top rated</h3>
        <app-movie-card *ngFor="let movie of topRatedList" [movie]="movie" class="col-sm-3"></app-movie-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="h3 text-success">In Theater</h3>
        <app-movie-card *ngFor="let movie of theatersList" [movie]="movie" class="col-sm-3"></app-movie-card>
    </div>
</div>
